*{
    /* border: 1px solid #009FFF; */
}

body {
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background {
    background-image: url('Background.png');
    background-size: cover;
}

.title{
    font-size: 3vw;
}

.btn-section {
    font-size: 3rem;
}

i.title {
    font-size: 3rem;
    display: inline-block;
    padding: 0.5em 0.6em;
} 

#personList{
    margin: auto;
    width: 100%;
}